<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smop.MainApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<Smop.MainApp.Properties.Settings>
      <setting name="MainWindow_IsMaximized" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="MainWindow_Width" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="MainWindow_Height" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="MainWindow_X" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="MainWindow_Y" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="Logger_Folder" serializeAs="String">
          <value />
      </setting>
      <setting name="App_ZoomLevel" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="Comm_OdorDisplay_Port" serializeAs="String">
          <value />
      </setting>
      <setting name="Comm_SmellInsp_Port" serializeAs="String">
          <value />
      </setting>
      <setting name="Comm_IonVision_SetupFilename" serializeAs="String">
          <value>Assets/ion-vision/default.json</value>
      </setting>
      <setting name="Pulses_SetupFilename" serializeAs="String">
          <value />
      </setting>
      <setting name="Pulses_Randomize" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="Reproduction_ML_Threshold" serializeAs="String">
          <value>0.5</value>
      </setting>
      <setting name="Reproduction_ML_MaxIterations" serializeAs="String">
          <value>6</value>
      </setting>
      <setting name="Reproduction_Odors" serializeAs="String">
          <value />
      </setting>
      <setting name="Reproduction_UsePID" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="Reproduction_SniffingDelay" serializeAs="String">
          <value>5</value>
      </setting>
      <setting name="Reproduction_Humidity" serializeAs="String">
          <value>15</value>
      </setting>
      <setting name="Reproduction_UseDmsCache" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="Reproduction_ML_Algorithm" serializeAs="String">
          <value />
      </setting>
      <setting name="Reproduction_ML_CmdParams" serializeAs="String">
          <value />
      </setting>
      <setting name="Reproduction_SntSampleCount" serializeAs="String">
          <value>3</value>
      </setting>
      <setting name="Reproduction_DmsSingleSV" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Setup_ShowThermistors" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="Setup_ShowMonometers" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="PulseEditor_Height" serializeAs="String">
          <value>500</value>
      </setting>
      <setting name="Pulses_Humidity" serializeAs="String">
          <value>15</value>
      </setting>
      <setting name="Setup_HumidityAutoAdjustment" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="KnownOdors" serializeAs="String">
          <value />
      </setting>
      <setting name="Odor_BasePID" serializeAs="String">
          <value>0.052</value>
      </setting>
      <setting name="Odor_BasePIDTemp" serializeAs="String">
          <value>20.5</value>
      </setting>
      <setting name="Odor_PIDTempCompPower" serializeAs="String">
          <value>2.3</value>
      </setting>
      <setting name="Odor_PIDTempCompGain" serializeAs="String">
          <value>0.014</value>
      </setting>
      <setting name="PauseEstimator_MinSaturationDuration" serializeAs="String">
          <value>8</value>
      </setting>
      <setting name="PauseEstimator_SaturationGain" serializeAs="String">
          <value>8</value>
      </setting>
      <setting name="PauseEstimator_SaturationExpGain" serializeAs="String">
          <value>-0.07</value>
      </setting>
      <setting name="PauseEstimator_MinCleanupDuration" serializeAs="String">
          <value>2.5</value>
      </setting>
      <setting name="PauseEstimator_CleanupGain" serializeAs="String">
          <value>0.8</value>
      </setting>
      <setting name="PauseEstimator_CleanupExpGain" serializeAs="String">
          <value>0.03</value>
      </setting>
      <setting name="PauseEstimator_UseCleanupPIDLevel" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="PauseEstimator_CleanupPIDLevel" serializeAs="String">
          <value>0.055</value>
      </setting>
  </Smop.MainApp.Properties.Settings>
    </userSettings>
</configuration>